
* {
    padding: 0;
    margin: 0;
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    font-family: "Inter", sans-serif;
}

/* Loading... */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    
}

#loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 10;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #01F593;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Responsive */

@media (min-width: 320px){
    .nAv {
        padding: 5% 10% 0 10%;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
    }
    
    svg {
        margin-right: 65%;
    }

    .LogotipoNav{
        height: auto;
        width: 100px;
        margin: 10% 0;
    }
    
    li .seccionesActiva{
        text-decoration: none;
        color: #01F593;
        font-weight: 500;
        font-size: 20px;
    }

    
    ul {
        list-style: none;
        background-color: #141B2D;
        flex-direction: column;
        overflow: hidden;
        width: 30%; 
        position: absolute;
        top: 100%; 
        left: 0;
        max-height: 0; 
        transition: max-height 0.5s ease-out;
        padding: 0 60% 0 10%;
    }

    ul li {
        margin: 60% 0;
        text-align: left;
    }

    .seccIones {
        padding: 0;
        font-weight: 500;
        font-size: 20px;
        text-decoration: none;
        color: #fff;
        display: block;
    }

    .LogotipoNav{
        margin: 10% 0;
        height: auto;
        width: 100px;
    }

    #meNu:checked ~ ul {
        max-height: 500px; 
        transition: max-height 0.5s ease-in;
    }

    ul {
        list-style: none;
        background-color: #141B2D;
        overflow: hidden;
        width: 30%;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 0 60% 0 10%;
    }

    #meNu {
        display: none;
    }

    /* Body */

    .baCk {
        padding: 10% 10% 5% 10%;
    }

    .PrinCipal {
        flex-direction: column;
        align-items: center;
        display: flex;
    }

    h1 {
        text-align: center;
        font-weight: 700;
        font-size: 25px;
    }

    strong{
        color: #FF0942;
    }

    .TextoAboutMe{
        margin-top: 7%;
        text-align: center;
        color: rgba(0, 0, 0, 0.4);
        font-weight: 400;
        font-size: 12px;
    }

    .buttonContacto {
        padding: 5% 10%;
        border-radius: 5px;
        background-color: #141B2D;
        margin-top: 15%;
    }

    .buttonContactar {
        color: #fff;
        text-decoration: none;
    }

    .habiliDades {
        justify-content: center;
        margin-top: 15%;
        display: flex;
        gap: 3%;
        margin-bottom: 10%;
    }

    .programasDeUso {
        margin-top: 5%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        gap: 2%;
        justify-content: center;
        align-items: center;
    }

    .habiliDades h4{
        color: rgba(0, 0, 0, 0.4);
        font-size: 12px;
        font-weight: 400;
    } 

    .ServiciosDesign{
        color: rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        padding: 1%;
        background-color: #fff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .lineaVertical {
        height: 20px;
        background-color: #141B2D;
        width: 1px;
    }

    .iconoPrograma{
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 10%;
    }

    .seccionProyectos {
        margin-top: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
    }

    .proYectos {
        display: flex;
        align-items: center;
        gap: 5%;
    }

    .proYectos div img {
        width: auto;
        height: 30px;
    }

    .imgProyecto div img {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
        background-color: #fff;
        padding: 2%;
        border-radius: 5px;
    }

    h3 {
        font-size: 16px;
        
    }

    .tituloProyect{
        color: #2b3d66;
    }

    p{
        font-size: 14px;
    }

    .areaDeDiseño{
        color: rgba(0, 0, 0, 0.5);
    }

    .imgProyecto{
        margin-top: 5%;
    }

    .imProyectos{
        border-radius: 5px;
        height: auto;
        width: 250px;
    }

    .modal-content {
        border-radius: 10px;
        position: relative;
        padding: 20px;
        width: 80%;
        max-width: 600px;
        background-color: #141B2D;
    }

    .titleImage{
        font-size: 20px;
        margin-top: 5%;
        color: #fff;
    }   

    .textImage{
        color: rgba(255, 255, 255, 0.6 );
        margin: 6% 0;
    }

    .modal-content .iconImage{
        height: auto;
        width: 24px;
    }

    .close {
        position: absolute;
        right: 30px;
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
    }

    .modal{
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .modal img{
        height: auto;
        width: 100%;
    }

    .imgProyecto div img{
        height: auto;
        width: 24px;
    }

    .daTos {
        display: flex;
        justify-content: center;
        margin: 5% 20%;
        gap: 5%;
    }
    
    .daTos article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        text-align: center;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        border-radius: 5%;
    }
    
    .daTos article h2 {
        font-size: 24px;
        font-weight: 800;
        color: #141B2D;
    }
    
    .daTos article h4 {
        font-size: 12px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.3);
    }

    .ButtonView{
        margin-left: 48%;
    }

    .ButtonViewMore{
        border-radius: 5PX;
        padding: 5PX 15PX;
        border: none;
        background: #FF0942;
        color: #ffffff;
        cursor: pointer;
    }

    .modal-content .ConocimientosUsados{
        display: flex;
    }

    .ButtonViewMore:hover{
        transition: 0.1s all ease-out;
        scale: 1.1;
    }

    .modal-content{
        margin: 60% auto;
    }

    /* Footer */

    footer{
        background-color: #141B2D;
    }

    .logoFooter{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h5{
        font-size: 12px;
        font-weight: 400;
    }

    .seCcioneSActiva{
        color: #01F593;
        text-decoration: none;
    }

    .secCiones{
        margin-bottom: 10%;
        gap: 25px;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .seCciones{
        text-decoration: none;
        color: #fff;
    }

    .Redes{
        margin-bottom: 5%;
        align-items: center;
        justify-content: center;
        display: flex;
        gap: 10px;
    }

    .iconRedes{
        height:auto ;
        width:25px ;
    }

    .derechosReservados{
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(255, 255, 255, 0.5);
        font-size: 10px;
        font-weight: 300;
        padding: 0 0 10% 0;
    }

    /* Pagina sobre mi */

    .sobreMi{
        margin: 5% 10% 5% 10%;
    }
    
    .sobreMi .quienSoy{
        margin: 10% 0;
    }

    .quienSoy .titleAboutMe{
        align-items: center;
        display: flex;
        gap: 4%;
        margin-bottom: 5%;
    }

    .titleAboutMe .iconos{
        height: auto;
        width: 40px;
    }

    .titleAboutMe .tituloSobreMi{
        font-size: 16px;
        color: #333;
        font-weight: 700;
    }

    .quienSoy .textoSobreMi {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.6;
        color: #333;
        max-width: 700px;
        margin: 0 auto;
        padding: 10px 20px;
        border-left: 4px solid #009688;
        background-color: #f9f9f9;
        border-radius: 8px;
    }

    .SkillsLeft .SkillsElements{
        align-items: center;
        display: flex;
        border-radius: 15px;
        padding: 5%;
        background-color: white;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
        gap: 7%;
        margin-bottom: 5%;
        justify-content: center;
    }

    .SkillsLeft .SkillsElements img{
        height: auto;
        width: 24px;
    }

    .SkillsRight .SkillsElements2 img{
        height: auto;
        width: 24px;
    }

    .SkillsRight .SkillsElements2{
        align-items: center;
        display: flex;
        border-radius: 15px;
        padding: 5%;
        background-color: white;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
        gap: 7%;
        margin-bottom: 5%;
        justify-content: center;
    }

    .SkillsElements2 .CircleSkills{
        display: flex;
        gap: 1%;
    }
    .SkillsElements .CircleSkills{
        display: flex;
        gap: 1%;
    }

    .CircleSkills .Circle{
        border-radius: 150px;
        height: 12px;
        width: 12px;
        background-color: #2b3d6646;
    }
    .CircleSkills .CircleColor{
        border-radius: 150px;
        height: 12px;
        width: 12px;
        background-color: #01F593;
    }

    .SkillsElements .TotalSkills{
        font-size: 12px;
        color: #2b3d6646;
    }

    .SkillsElements2 .TotalSkills{
        font-size: 12px;
        color: #2b3d6646;
    }

    /* Pagina de precios */

    .caRd{
        margin: 8% 0;
        border-radius: 20px;
        padding: 10%;
        box-shadow: 2px 2px 8px 0 rgba(20, 20, 20, 0.3)
    }

    .tituLo{
        align-items: flex-end; 
        gap: 15%;
        display: flex;
    }

    .tituloRecomendado {
        font-size: 16px;
    }
    
    .RecomenDado{
        font-size: 14px;
        color: #39BE88;
    }

    .cardDePrecios{
        flex-direction: column;
        margin: 10%;
    }

    .LinEas{
        margin: 5% 0;
        height: 1px;
        background-color: #141B2D;
        width: 100%;
    }

    .vaLor {
        display: flex;
        align-items: flex-end; 
        height: 100%;
        margin-bottom: 3%;
    }

    .vaLor p {
        align-items: flex-end;
        margin: 0;
    }

    .PreCio{
        font-size: 34px;
        font-weight: 600;
        margin: 0;
    }

    .caRd .texTo{
        color: rgba(0, 0, 0, 0.6);
    }

    .PacK{
        gap: 5%;
        align-items: flex-start;
        display: flex;
    }

    .PacK h3{
        margin-bottom: 15%;
    }

    .PacK p{
        margin-bottom: 10%;
    }

    .Solicitar{
        padding: none;
    }

    .buttonSolicitar{
        margin-top: 3%;
        background-color: #141B2D;
        padding: 8% 36%;
        cursor: pointer;
        border-radius: 10px;
        border: none;
    }

    .buttonSolicitarinsta{
        font-size: 16px;
        color: #fff;
        text-decoration: none;
    }

    .ImporTante{
        margin: 3% 10%;
    }

    .ImporTante .texTo{
        color: rgba(0, 0, 0, 0.6);
    }

    .tituloDeImportante{
        color: #FF0942;
        font-weight: 700;
        margin-bottom: 0.5%;
    }

    main .ImporTante{
        margin: 5% 10%;
    }

    .TituloDePrecios{
        color: #2b3d66;
        margin: 25% 10% 1% 10%;
    }
    
    .logoFooter img{
        height: auto;
        width: 300px;
    }
}

@media (min-width: 428px) {

    /* Pagina Inicio */

    .iconoPrograma{
        height: auto;
        width: 40px;
        padding: 15%;
    }

        .imgProyecto div img {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
        background-color: #fff;
        padding: 3%;
        height: auto;
        width: 24px;
    }

    /* Pagina sobre mi */

    /* Pagina precios */

}

@media (min-width: 768px) {

    /* Pagina Inicio */

    h1{
        font-size: 45px;
    }

    .TextoAboutMe{
        font-size: 18px;
    }

    .buttonContacto {
        margin-top: 10%;
        padding: 3% 6%;
        font-size: 18px;
        border-radius: 10px;
    }

    .habiliDades h4 {
        font-size: 16px;
    }

    .habiliDades{
        margin-top: 10%;
    }

    .iconoPrograma{
        width: 48px;
    }

    .imProyectos {
        border-radius: 10px;
        width: 450px;
    }

    .imgProyecto div img {
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
        background-color: #fff;
        padding: 2%;
        height: auto;
        width: 28px;
    }

    .daTos article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 135px;
        height: 135px;
        text-align: center;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        border-radius: 5%;
    }

    .daTos article h2 {
        font-size: 44px;
    }

    .daTos article h4 {
        font-size: 16px;
    }

    .modal-content {
        margin: 20% auto;
    }

    /* Pagina sobre mi */

    /* Pagina precios */

    h3{
        font-size: 18px;
    }

    p{
        font-size: 16px;
    }

    .PacK h3{
        margin-bottom: 5%;
    }

    .PacK p{
        margin-bottom: 5%;
    }

    
}

@media (min-width: 1024px) {
    body .nAv {
        padding: 0.1% 3% 0.1% 3%;
        border-radius: 25px;
        margin: 1% 10%;
        display: flex;
        align-items: center;
        background-color: #141B2D;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
    }

    label{
        display: none;
    }

    header ul {
        padding: 0;
        min-height:max-content;
        overflow:visible;
        width: auto;
        display: flex;
        position:static;
        flex-direction: row;
    }

    header ul li {
        margin: 0;
    }

    li .seccIones {
        color: rgba(255, 255, 255, 0.5);
        transition: color 0.3s;
        cursor: pointer;
        font-weight:500;
        font-size: 16px;
        white-space: nowrap;
    }

    ul li{
        align-items: center;
        display: flex;
        padding: 10px 15px;
    }

    ul li .seccionesActiva{
        font-size: 16px;
    }

    .paginaActiva:hover{
        background-color: #141B2D;
    }

    li:hover{
        border-radius: 5px;
        background-color: #2b3d66;
        padding: 10px 15px;
    }

    .seccIones:hover{
    color: #01F593;
    white-space: nowrap;
}

    .nAv .LogotipoNav{
        height: auto;
        width: 150px;
        margin: 0;
    }

    main .baCk{
        padding: 2% 10% 2% 10%;
    }

    h1{
        color: #141B2D;
        font-weight: 700;
        font-size: 70px;
    }

    .TextoAboutMe{
        margin-top: 5%;
        text-align: center;
        color: rgba(0, 0, 0, 0.4);
        font-weight: 400;
        font-size: 18px;
    }

    .buttonContacto{
        border: none;
        font-weight: 500;
        font-size: 20px;
        padding: 15px 30px;
        border-radius: 10px;
        margin-top: 5%;
        cursor: pointer;
    }

    .buttonContactar{
        font-size: 20px;
    }

    .buttonContacto:hover{
        background-color: #2b3d66;
    }

    .habiliDades{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        margin-bottom: 10% ; 
    }

    .ServiciosDesign{
        color: rgba(0, 0, 0, 0.4);
        border-radius: 10px;
        padding: 1%;
        background-color: #fff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .ServiciosDesign:hover{
        background-color: #2b3d66;
        color: #01F593;
    }

    .baCk .lineaVertical{
        background-color: rgba(0, 0, 0, 0.4);
    }

    .baCk .habiliDades h4{
        font-size: 18px;
        font-weight: 400;
    }

    .programasDeUso{
        margin-top: 5%;
        justify-content: center;
        gap: 2%;
        display: flex;
    }

    .proYectos div h3{
        font-size: 24px;
    }

    .imgProyecto{
        margin-top: 1.5%;
    }

    .imgProyecto div img{
        height: auto;
        width: 24px;
        padding: 1%;
    }

    .iconoPrograma{
        border-radius: 10px;
        padding: 1.7%;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .proyectosHorizontal{
        justify-content:space-evenly;
        margin-top: 7%;
    }

    .proyectosHorizontal .seccionProyectos{
        margin-top: 0;
        margin-bottom: 5%;
    }

    .proYectos div h3{
        font-size: 24px;
        font-weight: 600;
    }

    .proYectos div .areaDeDiseño{
        font-size: 16px;
    }

    div .proYectos{
        justify-content:start;
    }

    .proYectos p{
        margin-top: 10%;
    }

    .imProyectos{
        border-radius: 10px;
        height: auto;
        width: 1024px;
        cursor: pointer;
        transition: transform 300ms ease-in-out
    }

    .imProyectos:hover{
        transform: scale(1.05);
        transition: transform 300ms ease-in-out;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    .modal-content {
        position: relative;
        padding: 20px;
        margin: 15% auto;
        width: 80%;
        max-width: 600px;
        background-color: #141B2D;
    }
    
    .modal-content img {
        border-radius: 10px;
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
    
    .modal-content .titleImage {
        font-size: 24px;
        font-weight: bold;
        margin-top: 0;
        color: #fff;
    }
    
    .modal-content .textImage {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.6);
        margin: 2.5% 0;
        
    }

    .modal-content .iconImage{
        height: auto;
        width: 24px;
        margin-bottom: 0;
        border-radius: 0;
    }

    .ConocimientosUsados{
        align-items: center;
        display: flex;
        gap: 1%;
    }
    
    .close {
        position: absolute;
        right: 25px;
        font-size: 30px;
        font-weight: bold;
        color: #333;
        cursor: pointer;
    }

    .imgProyecto div{
        margin-top: 1%;
    }

    .imgProyecto div img{
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
        background-color: #fff;
        padding: 1%;
        height: auto;
        width: 24px;
    }

    main .daTos {
        display: flex;
        justify-content: center;
        margin: 5% 0;
        gap: 5%;
    }
    
    main .daTos article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        text-align: center;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        border-radius: 5%;
    }
    
    main .daTos article h2 {
        font-size: 60px;
        font-weight: 800;
        color: #141B2D;
    }
    
    main .daTos article h4 {
        font-size: 24px;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.3);
    }

    .iconRedes{
        height: auto;
        width: 24px;
    }

    .ConocimientosUsados .ButtonView{
        margin-left: 76%;
    }

    .ButtonViewMore{
        border-radius: 5PX;
        padding: 5PX 15PX;
        border: none;
        background: #FF0942;
        color: #ffffff;
        cursor: pointer;
    }

    .ButtonViewMore:hover{
        transition: 0.1s all ease-out;
        scale: 1.1;
    }

    /* Pagina sobre mi */

    .sobreMi{
        margin: 9% 1% 9% 1%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 5%;
        align-items: center;
    }

    .textoSobreMi {
        font-family: 'Poppins', sans-serif;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.6;
        color: #333;
        text-align: justify;
        max-width: 700px;
        margin: 0 auto;
        padding: 10px 20px;
        border-left: 4px solid #009688;
        background-color: #f9f9f9;
        border-radius: 8px;
    }

    .CircleSkills{
        display: flex;
        gap: 1%;
    }

    .SkillsElements{
        align-items: center;
        display: flex;
        border-radius: 15px;
        padding: 5%;
        background-color: white;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
        gap: 7%;
        margin-bottom: 5%;
    }

    .SkillsElements2{
        align-items: center;
        display: flex;
        border-radius: 15px;
        padding: 5%;
        background-color: white;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
        gap: 7%;
        margin-bottom: 5%;
    }

    .quienSoy {
        grid-column: 4 / 6;
        grid-row: 1 / 2;
    }

    .SkillsLeft{
        grid-column: 2/4;
    }

    .SkillsRight{
        grid-column: 6/8;
    }

    .Circle{
        border-radius: 150px;
        height: 15px;
        width: 15px;
        background-color: #2b3d6646;
    }
    .CircleColor{
        border-radius: 150px;
        height: 15px;
        width: 15px;
        background-color: #01F593;
    }

    .titleAboutMe{
        align-items: center;
        display: flex;
        gap: 4%;
    }

    .TotalSkills{
        color: #2b3d6646;
    }

    /* Pagina precios */

    .TituloDePrecios{
        margin: 0% 10% 1% 10%;
    }

    .cardDePrecios {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 5%;
        padding: 2% 10%;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        margin: 0 10%;
    }
    
    .cardDePrecios::-webkit-scrollbar {
        display: none;
    }

    h3{
        font-size: 16px;
    }

    p{
        font-size: 14px;
    }

    .PacK h3{
        margin-bottom: 15%;
    }

    .PacK p{
        margin-bottom: 10%;
    }
    
    .caRd {
        margin: 0;
        flex: 0 0 auto;
        scroll-snap-align: start;
        width: 280px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border-radius: 12px;
        padding: 30px;
    }

    .caRd .tituLo .RecomenDado{
        margin-left: 11%;
    }

    .caRd .LinEas{
        margin: 5% 0;
    }

    .caRd .vaLor{
        align-items:start;
        height: 5%;
        margin-bottom: 10%;
    }

    .caRd .texTo{
        color: rgba(0, 0, 0, 0.4);
    }

    .caRd .PacK{
        margin-bottom:0;
    }

    .Solicitar{
        padding: none;
    }

    .buttonSolicitar{
        margin-top: 3%;
        background-color: #141B2D;
        padding: 8% 40%;
        cursor: pointer;
        border-radius: 10px;
        border: none;
    }

    .buttonSolicitarinsta{
        font-size: 16px;
        color: #fff;
        text-decoration: none;
    }

    .buttonSolicitar:hover{
        background-color: #2b3d66;
    }

    .texTo2{
        color: rgba(0, 0, 0, 0.6);
    }

    .tituloDeImportante{
        color: #FF0942;
        font-weight: 700;
        margin-bottom: 0.5%;
    }

    /* footer */

    footer{
        justify-content: space-around;
        align-items: center;
        display: flex;
    }

    footer .secCiones{
        font-size: 20px;
        margin-bottom: 0;
    }

    footer .seCciones{
        font-size: 16px;
    }

    footer .seCcioneSActiva{
        font-size: 16px;
    }

    div .Redes {
        justify-content:start;
    }

    div .derechosReservados{
        color: rgba(255, 255, 255, 0.5);
        font-size: 14px;
        padding: 0 0 3% 0;
    }
}

@media (min-width: 1440px) {
    
}

@media (min-width: 1920px) {

    /* Pagina de inicio */
    

    .buttonContacto{
        margin-top: 3%;
    }

    .TextoAboutMe{
        margin-top: 3%;
    }

    .habiliDades{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .modal-content {
        margin: 10% auto;
    }

    /* Pagina sobre mi */

    .sobreMi{
        margin: 7% 1% 8% 1%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 5%;
    }
    
    .SkillsLeft{
        grid-column: 2/5;
    }

    .SkillsRight{
        grid-column: 9/12;
    }

    .quienSoy{
        grid-column: 5/9;
        grid-row: 1/2;
    }

    /* Pagina de precios */
    
    .TituloDePrecios{
        margin: 5% 1% 1% 20%;
    }

    .ImporTante {
        margin: 3% 20%;
    }
}